<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige las peticiones a index.php si el archivo/directorio no existe
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>